.dark {
    --background: oklch(0.22 0 0);
    --foreground: oklch(0.89 0 0);
    --card: oklch(0.24 0 0);
    --card-foreground: oklch(0.89 0 0);
    --popover: oklch(0.24 0 0);
    --popover-foreground: oklch(0.89 0 0);
    --primary: oklch(0.71 0 0);
    --primary-foreground: oklch(0.22 0 0);
    --secondary: oklch(0.31 0 0);
    --secondary-foreground: oklch(0.89 0 0);
    --muted: oklch(0.29 0 0);
    --muted-foreground: oklch(0.60 0 0);
    --accent: oklch(0.37 0 0);
    --accent-foreground: oklch(0.89 0 0);
    --destructive: oklch(0.66 0.15 22.17);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.33 0 0);
    --input: oklch(0.31 0 0);
    --ring: oklch(0.71 0 0);
    --chart-1: oklch(0.71 0 0);
    --chart-2: oklch(0.67 0.03 206.35);
    --chart-3: oklch(0.55 0 0);
    --chart-4: oklch(0.46 0 0);
    --chart-5: oklch(0.37 0 0);
    --sidebar: oklch(0.24 0 0);
    --sidebar-foreground: oklch(0.89 0 0);
    --sidebar-primary: oklch(0.71 0 0);
    --sidebar-primary-foreground: oklch(0.22 0 0);
    --sidebar-accent: oklch(0.37 0 0);
    --sidebar-accent-foreground: oklch(0.89 0 0);
    --sidebar-border: oklch(0.33 0 0);
    --sidebar-ring: oklch(0.71 0 0);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

@custom-variant dark (&:is(.dark *));
